---
import SingleViewLayout from '../../components/SingleViewLayout.astro'
import {fetchArtistBySlug} from '../../js/supabase.js'

const {slug} = Astro.params
const artist = await fetchArtistBySlug(slug)
---

{artist ? <SingleViewLayout artist={artist} /> : <div>Ingen artist fundet</div>}
