---
const {
  concertDate,
  concertLocation,
  concertEvent,
  concertPrice,
  concertTarget,
} = Astro.props

const formattedDate = new Date(concertDate).toLocaleDateString('da-DK', {
  day: 'numeric',
  month: 'long',
})
---

<div
  class='container concert-card-content-container absolute top-0 left-0 flex flex-col justify-between px-3 py-4 z-[1000] h-full w-full text-white overflow-hidden'>
  <h2
    class='text-xl m-2 text-[var(--secondary-text-color)] font-bold'
    id='concert_date'>
    {formattedDate}
  </h2>

  <h3
    class='date text-xl text-[var(--secondary-text-color)] font-bolder'
    id='date'>
  </h3>

  <div
    class='container location-and-price-container flex justify-between items-center text-base/10 px-2'>
    <div>
      <h2 class='location text-[25px] font-bold text-base/7'>
        {concertLocation}
      </h2>
      <p class='price paragraph-font text-xl font-bolder mt-2' id='price'>
        {concertPrice} kr.
      </p>
    </div>

    <div
      class='group flex flex-col gap-2 justify-center text-center items-center cursor-pointer'>
      <i
        class='fas fa-calendar text-xl transition-colors duration-150 ease-in group-hover:text-[var(--secondary-text-color)]'
      ></i>
      <a
        href={concertEvent}
        target='_blank'
        class='self-end text-xl paragraph-font whitespace-nowrap transition-colors duration-150 ease-in group-hover:text-[var(--secondary-text-color)]'>
        Vis event
      </a>
    </div>
  </div>
</div>

<script>
  const concertDate = document.querySelector('#concert_date')

  const concertDateFormatted = new Intl.DateTimeFormat('da-DK', {
    day: 'numeric',
    month: 'long',
    year: 'numeric',
    timeZone: 'Europe/Copenhagen',
  }).format(new Date(concertDate))

  concertDate.textContent = concertDateFormatted
</script>
