---
import '../styles/global.css'
import '../styles/custom-glightbox-styles.css'
import GalleryImage from './GalleryImage.astro'
import GalleryVideo from './GalleryVideo.astro'
import {fetchGalleryData} from '../js/gallery_data.js'

const galleryData = await fetchGalleryData()

const isVideo = (url) => {
  const videoExtensions = ['mp4']
  const extension = url.split('.').pop().toLowerCase()
  return videoExtensions.includes(extension)
}
---

<div
  class='container gallery-container mx-auto flex flex-col justify-center items-center w-full pb-16 gap-6 md:flex-row'>
  {
    galleryData.map((galleryItem) =>
      isVideo(galleryItem.src) ? (
        <GalleryVideo src={galleryItem.src} />
      ) : (
        <GalleryImage src={galleryItem.src} />
      ),
    )
  }
</div>

<script>
  import initLightBox from '../js/gallery_lightbox.js'
  console.log(initLightBox)

  initLightBox()
</script>
