---
const {class: className, id: id, pageIntroText} = Astro.props
---

<h3
  class={`${className} paragraph-font text-2xl page-intro-text text-center px-6 md:max-w-[65ch]`}
  id={id}>
  {pageIntroText}
</h3>
