---
import Button from './Button.astro'
---

<Button class="grid place-content-center btn play-btn bg-[#801115] text-[var(--primary-text-color)] h-[70px] w-[70px] rounded-full transition-text duration-150 ease-in hover:text-[var(--secondary-text-color)] cursor-pointer" id="play_btn">
  <i class="fas fa-play text-2xl" />
</Button>