---
import Button from './Button.astro'
---

<Button
  class='absolute top-[50%] left-1/2 -translate-x-1/2 -translate-y-1/2 grid place-content-center btn play-btn bg-[#801115] text-[var(--primary-text-color)] h-[70px] w-[70px] rounded-full transition duration-150 ease-in hover:text-[var(--secondary-text-color)] cursor-pointer z-10 group'
  id='play_btn'>
  <i class='fas fa-play text-2xl'></i>
</Button>
