---
import {fetchTimelineCardsData} from '../js/supabase.js'

import TimelineCard from './TimelineCard.astro'
import SectionHeader from './SectionHeader.astro'

const {class: className, id: id} = Astro.props

const timelineCardsData = await fetchTimelineCardsData()
---

<div class='flex flex-col justify-center items-center w-[80vw] overflow-hidden'>
  <SectionHeader sectionHeaderText='Hvem er Hovednavn?' />
  <div class='relative flex flex-col justify-between space-y-6'>
    <div
      class='absolute -z-2 w-2 h-full bg-[var(--timeline-card-bg-color)] shadow-md left-1/2 transform -translate-x-1/2'>
    </div>
    {
      timelineCardsData.map((timelineCard, index) => (
        <TimelineCard
          timelineCardTitle={timelineCard.timeline_card_header_text}
          timelineCardDescriptionText={timelineCard.timeline_card_body_text}
        />
      ))
    }
  </div>
</div>
