---
const {class: className, id: id} = Astro.props
---

<div
  class='container track-list-container absolute mx-auto z-[1000] backdrop-blur-2xl w-full h-[200px] outline-2 outline-indigo-50 top-[50%]'
  id='track_list_container'>
  <h2>
    <span>Track:</span>
    <span>Længde:</span>
  </h2>
</div>
