---
const {class: className, id: id, id: vinylId, src} = Astro.props
---

<div
  class='container vinyl-container relative h-[150px] w-[150px] bg-black rounded-full'
  id='vinyl_container'>
  <div
    class='absolute top-[50%] left-[50%] -translate-[50%] rounded-full z-[1000] vinyl-hole h-[15px] w-[15px] bg-black'
    id='vinyl_hole'>
  </div>
  <img
    class='absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 h-[97%] w-[97%] p-2 object-cover rounded-full'
    id={vinylId}
    src={src}
  />
</div>
